{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% include './include/header.html' %}
    <article class="register-form">
        <span>Answered Questions:</span>
        {#            <p>Click on user to grant expert permission.</p>#}
        <hr>
        <section class="user-setup">
            {% for foo in home_result %}
                <ul style="margin-bottom: 25px">
                    <li style="background: #333">Answer: {{ foo.answer_text }}</li>
                    <li style="margin-left: 80px; list-style: circle; background: #777;">
                        Question: {{ foo.question_text }}</li>
                    <li style="margin-right: 50px">
                        <span style="font-size: 0.8rem;">Answered by: {{ foo.expert }}</span> |
                        <span style="font-size: 0.8rem;">Asked by: {{ foo.asker }}</span>
                    </li>
                    <hr>
                </ul>
            {% endfor %}
        </section>
    </article>
{% endblock %}