{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% include './include/header.html' %}
{% block body %}
    <article class="register-form">
        <span>Login</span>
        <hr>
        <section>
            <form action="{{ url_for('login') }}" method="post">
                <label for="name">Name:
                    <input type="text" name="name" id="name">
                </label>
                <label for="password">Password:
                    <input type="password" name="password" id="password">
                </label>
                <button type="submit">
                    {% if incorrect_password %}
                        Password is incorrect
                    {% else %} Login
                    {% endif %}
                </button>
            </form>
        </section>
    </article>
{% endblock %}