{% extends 'base.html' %}
{% block body %}
    {% from './include/header.html' import showlinks %}
    {{ showlinks(user) }}
    <article class="register-form">
        <span>Register</span>
        <hr>
        <section>
            <form action="{{ url_for('register') }}" method="post">
                <label for="name">Name:
                    <input type="text" name="name" id="name">
                </label>
                <label for="password">Password:
                    <input type="password" name="password" id="password">
                </label>
                <button type="submit">Register</button>
            </form>
        </section>
    </article>
{% endblock %}