<header>
    <span>Question & Answer</span>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if not user %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            {% if user and user['admin'] == 0 and user['expert'] == 0 %}
                <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if user and user['expert'] == 1 %}
                <li><a href="{{ url_for('unanswered') }}">Answer Question</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if user and user['admin'] == 1 %}
                <li><a href="#">Answer Question</a></li>
                <li><a href="{{ url_for('user_setup') }}">User Setup</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>