* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  background: dimgray; }

header {
  display: flex;
  flex-direction: row;
  background: darkorange;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-evenly; }
  header span {
    font-size: 1rem;
    text-transform: uppercase; }
  header nav {
    display: flex; }
    header nav ul {
      list-style: none;
      display: flex;
      flex-direction: row; }
      header nav ul li a {
        font-size: 1rem;
        padding: 10px;
        color: black; }

.register-form, .ask-question {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
  margin-top: 20px;
  align-items: center; }
  .register-form span, .ask-question span {
    color: white;
    font-size: 1.5rem; }
  .register-form p, .ask-question p {
    color: white;
    font-size: 1rem; }
  .register-form section, .ask-question section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .register-form section form label, .ask-question section form label {
      font-size: 1rem;
      color: white;
      display: flex;
      flex-direction: column; }
      .register-form section form label select, .ask-question section form label select {
        font-size: 1rem;
        padding: 5px;
        text-transform: capitalize; }
        .register-form section form label select option, .ask-question section form label select option {
          font-size: 1rem;
          text-transform: capitalize; }
      .register-form section form label textarea, .ask-question section form label textarea {
        padding: 5px;
        font-size: 1rem; }
      .register-form section form label input, .ask-question section form label input {
        padding: 5px;
        width: 500px;
        font-size: 1rem; }
    .register-form section form button, .ask-question section form button {
      color: black;
      background: darkorange;
      font-size: 1rem;
      padding: 10px 25px;
      border: 0;
      border-radius: 5px;
      margin-top: 20px; }
      .register-form section form button:hover, .ask-question section form button:hover {
        cursor: pointer; }
  .register-form .user-setup ul, .ask-question .user-setup ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .register-form .user-setup ul li, .ask-question .user-setup ul li {
      padding: 5px;
      font-size: 1rem;
      color: white; }
      .register-form .user-setup ul li:hover, .ask-question .user-setup ul li:hover {
        background: darkgray; }
      .register-form .user-setup ul li a, .ask-question .user-setup ul li a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase; }
